// Margins
$simple-margin: 30px;
$left-margin: 30px;
$right-margin: 30px;
$interline-margin: 23px;

// Colors
$bg-color: #2f2f30;
$bg-cards-color: #f2f2f2;
$btn-color: #6c757d;
$text-color: #4A4A4A;
$title-color: #000000;

// Fonts
$general-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$general-font-bold: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Breakpoints
$breaskpoint-small: 0;
$breaskpoint-medium: '768px';
$breaskpoint-large: '1200px';
$max-app-width: 840px;

@mixin breakpoint-small() {
  @media only screen and (min-width: $breaskpoint-small) and (max-width: $breaskpoint-medium) {
    @content;
  }
}

@mixin breakpoint-medium() {
  @media only screen and (min-width: $breaskpoint-medium) and (max-width: $breaskpoint-large) {
    @content;
  }
}

@mixin breakpoint-large() {
  @media only screen and (min-width: $breaskpoint-large) {
    @content;
  }
}