@import './variables.scss';

.home {
  .specific_cards {
    border-radius: 0;
    display: inline-flex;
    background: $bg-cards-color;
    border: none;
  }
  .people_list {
    margin: 2em;
    width: 64.5%;
    table {
      th {
        width: 1%;
      }
    }
  }
  .person_view {
    min-width: 570px;
    margin: 2em 2em 2em 0em;
    float: right;
    .card {
      img {
        width: 528px;
        min-height: 528px;
      }
    }
    h5.card-text {
      padding: .75rem 1.25rem;
    }
    li.list-group-item {
      margin: 0;
    }
  }
  .saved_people {
    width: 64.5%;
    margin: 0 2em;
    .card:not(:last-child) {
      margin-right: 1em;
    }
    .card {
      display: inline-block;
      width: 13em;
      min-height: 19.5em;
      margin-bottom: 1em;
      .btn-grup {
        margin-bottom: 1em;
      }
      .card-title {
        margin-top: 1em;
      }
      img {
        width: 208px;
        min-height: 208px;
      }
    }
    .gender-filter {
      display: block;
    }
  }
}