@import './home.scss';
@import './variables.scss';

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto:100,300');

body {
  background-color: $bg-color !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $general-font;
  font-color: $title-color;
}

h1 {
  font-weight: 300;
}

button {
  font-family: $general-font;
  background-color: $btn-color;
  font-weight: 300;
  border: none;
  outline:none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: white;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
    background-color: $bg-color;
  }
}

div, p, span {
  font-family: $general-font;
}

.header {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  h3, h4 {
    color: white;
  }
}
