@import url(https://fonts.googleapis.com/css?family=Raleway:400,600|Roboto:100,300);.home .specific_cards {
  border-radius: 0;
  display: inline-flex;
  background: #f2f2f2;
  border: none; }

.home .people_list {
  margin: 2em;
  width: 64.5%; }
  .home .people_list table th {
    width: 1%; }

.home .person_view {
  min-width: 570px;
  margin: 2em 2em 2em 0em;
  float: right; }
  .home .person_view .card img {
    width: 528px;
    min-height: 528px; }
  .home .person_view h5.card-text {
    padding: .75rem 1.25rem; }
  .home .person_view li.list-group-item {
    margin: 0; }

.home .saved_people {
  width: 64.5%;
  margin: 0 2em; }
  .home .saved_people .card:not(:last-child) {
    margin-right: 1em; }
  .home .saved_people .card {
    display: inline-block;
    width: 13em;
    min-height: 19.5em;
    margin-bottom: 1em; }
    .home .saved_people .card .btn-grup {
      margin-bottom: 1em; }
    .home .saved_people .card .card-title {
      margin-top: 1em; }
    .home .saved_people .card img {
      width: 208px;
      min-height: 208px; }
  .home .saved_people .gender-filter {
    display: block; }

body {
  background-color: #2f2f30 !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-color: #000000; }

h1 {
  font-weight: 300; }

button {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #6c757d;
  font-weight: 300;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  color: white;
  transition: all 0.3s; }
  button:hover {
    cursor: pointer;
    background-color: #2f2f30; }

div, p, span {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.header {
  display: flex;
  flex-direction: column;
  margin-left: 2em; }
  .header h3, .header h4 {
    color: white; }

/*# sourceMappingURL=main.css.map*/